# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
bin/
obj/
Debug/
Release/

# VS Code
.vscode/

# NuGet
*.nupkg
packages/

# System
.DS_Store
Thumbs.db

# Environment files
venv/

# Folders
Tomek/
__pycache__/
catboost_info/